
/* Bootstrap */
body {
  --heading-font: "Arapey", Georgia, serif;
  --heading-font-weight: 700;
  --heading-color: #111;
  --heading-line-height: 1.24;

  --swiper-theme-color: #588456;

  /* bootstrap */
  --bs-body-font-family: "Open Sans", sans-serif;
  --bs-body-font-size: 17px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.8;
  --bs-body-color: #484848;
  --bs-body-color-rgb: 72, 72, 72;

  --bs-primary: #588456;
  --bs-secondary: #6c757d;
  --bs-black: #111;
  --bs-light: #F1F1F0;
  --bs-dark: #2f2f2f;
  --bs-gray: #9aa1a7;
  --bs-gray-dark: #51565b;

  --bs-primary-rgb: 88, 132, 86;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-black-rgb: 17, 17, 17;
  --bs-light-rgb: 241, 241, 240;
  --bs-dark-rgb: 33, 37, 41;

  --bs-link-color: #111;
  --bs-link-color-rgb: 17, 17, 17;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #111;
  --bs-link-hover-color-rgb: 17, 17, 17;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  color: var(--heading-color);
  line-height: var(--heading-line-height);
}

h1.light,
.h1,
h2.light,
.h2,
h3.light,
.h3,
h4.light,
.h4,
h5.light,
.h5,
h6.light,
.h6 {
  color: var(--light-color);
}

/* container fluid */
.container-fluid {
  max-width: 1800px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 2.5rem;
}

/* Dropdown */
.dropdown-menu {
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-border-width: 0;
}

.dropdown-item {
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-link-color: var(--bs-black);
  --bs-dropdown-item-border-radius: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  --bs-dropdown-link-active-color: var(--bs-light);
  --bs-dropdown-link-active-bg: var(--bs-black);
}

/* list group */
.list-group-item {
  --bs-list-group-item-padding-x: 0;
  --bs-list-group-border-width: 0;
}

/* btn */
.btn {
  --bs-btn-border-radius: 0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8C907E;
  --bs-btn-border-color: #8C907E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5e624e;
  --bs-btn-hover-border-color: #5e624e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5e624e;
  --bs-btn-active-border-color: #5e624e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8C907E;
  --bs-btn-disabled-border-color: #8C907E;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary);
  --bs-gradient: none;
}


/* end of Bootstrap Color Theme */
/*--------------------------------------------------------------
/** 1. Base Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
/** 1.1. Variables
--------------------------------------------------------------*/
:root {
    /* widths for rows and containers
     */
    --header-height       : 50px;
    --header-height-min   : 20px;
}
/* on mobile devices below 600px
 */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #58575B;
  background-color: #F6F7F2;
}

/*----------------------------------------------*/
/* 1.4 Typography */
/*----------------------------------------------*/


h1.light, .h1, h2.light, .h2, h3.light, .h3, h4.light, .h4, h5.light, .h5, h6.light, .h6 {
  color: #000000;
}

/*----- Header
--------------------------------------------------------------*/
.main-logo {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 40px;
    margin-right: 60px;
    transition: 0.5s all ease-out;
}
.main-logo a {    
    margin: 0 auto;
    transition: 0.5s all ease-out;
}

/*----- Header Menu
--------------------------------------------------------------*/
header {
    margin-bottom: 80px;
    height: var(--header-height);
    transition: 0.3s all ease-out;
}
header.nav-up {
    top: -160px;
}
#header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#header-wrap nav#navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
nav#navbar ul.menu-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    position: relative;
    list-style: none;
}
#navbar ul.menu-list li {
    position: relative;
    display: flex;
    align-items: center;
}
#navbar ul.menu-list a {
    line-height: var(--header-height);
    padding: 0 30px;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.5s all ease-out;
}
.col{
  display: flex;
}
.him{
  padding: 3%;
  padding-bottom: 0%;
  padding-top: 1%;
}
.him2{
  padding: 3%;
  padding-top: 1%;
}
@media screen and (max-width: 991px){
  nav#navbar ul.menu-list {
      display: none;
  }
}